.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.content {
    display: none;
    flex-wrap: wrap;
}

.active {
    display: flex;
    flex-wrap: wrap;
}